/**{
	margin: 0;
	padding: 0;
}


h1 {
	color: purple;
	font-family: "Arial", serif;
	font-weight: bolder;
}

li	{
	list-style-type: square: 
}

.main-head	{
	color: green;
	size: 24px;
}

.sub-head	{
	color: blue;
	size: 18px;

}*/

/* descendant selector */
ol li {
	font-size: 30px;
}

/* child selector> > 
div > ul {
	color: red;
}*/

/* adjacent sibling selector > + 
this will only work because the element before it is an H1 */
h1 + ul {
	color: green;
}

/* general sibling selector> ~ 
as long as it's after the element (doesn't have to be immediate) it will work*/
h1 ~ ol {
	color: blue;
}
