div {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
	
}

.size {
	width: 200px;
	height: 200px;
	border: 2px solid gray;
}

.button {
	width: 220px;
	height: 90px;
	display: flex;
	flex-direction: row;
	border: 2px solid black;

}