*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 400px){
	/*we can do our normal css here*/
	body {
		background-color: red;
	}
} 

@media only screen and (min-width: 401px) and (max-width: 800px){
	body {
		background-color: salmon;
	}
}