*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}





/*media queries*/
@media only screen and (max-width: 400px){
  body {
  	background-color: blue;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px){
   body {
   	background-color: red;
   }
}

