*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page {
	width: 100%;
}

.section {
	width: 100%;
	height: 300px;
}

.menu {
	background-color: red;
	height: 80px;
}

.header {
	background-color: pink;
}

.content {
	background-color: green;
	height: 600px;
}

.sign-up {
	background-color: orange;
}

.feature-1 {
	background-color: yellow;
}


.feature-2 {
	background-color: purple;
}


.feature-3 {
	background-color: gray;
}

/*media queries*/

/*mobil*/
@media only screen and (max-width: 400px){
  	body {
  		background-color: pink;
  	}
}

/*tab*/
@media only screen and (min-width: 401px) and (max-width: 960px){
   	body {
   		background-color: salmon;
   	}

   	.sign-up, .feature-1, .feature-2, .feature-3 {
   		width: 50%;
   		float: left;
   	}
}

/*desk*/
@media only screen and (min-width: 961px)
{
	body {
		background-color: gray;
	}
}

@media only screen and (min-width: 961px)
{
	.page {
		width: 960px;
		margin: 0 auto;
	}

	.header {
		height: 400px;
	}

	.feature-1, .feature-2, .feature-3 {
		width: 33.3%;
		float: left;
	}
}
