* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:1px solid black;
}
.header1 {
    height: 100vh;
    background: url(https://images.pexels.com/photos/96627/pexels-photo-96627.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header1 > div {
    text-align: center;
}
.section2 {
    background-color: gray;
    height: 100vh;
    display: flex;justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.section2-div {
    height: 75vh;
    background: white;
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*if the flex direction is reversed (u used column instead of row */
    justify-content: center;
}
.fa-apple {
    font-size: 25px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: gray;
    border-radius: 50%;
}
.btn-more {
    margin-top: 25px;
}

@media only screen and (max-width: 360px){
    .section2 {
        flex-direction: column;
    }

    .section2-div {
        width: 80%;
        margin: 20px;
        height: auto;
    }
}

@media only screen and (max-width: 768px){
    .section2 {
        height: 50vh;
    }

    .section2-div {
        height: 30vh ;
    }
}