*{
	padding: 0;
	margin: 0;
}

.wrapper {
	background-color: black; 
	color: pink;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-size: fill;
	background: url(https://images.pexels.com/photos/1904105/pexels-photo-1904105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	object-fit: contain;
}

.btn {
	padding: 5px 6px;
	border-radius: 10px;
	margin-top: 15px;
	background-color: pink;
	color: purple;
	border: none;
	text-shadow: 2px 2px 15px black;
	box-shadow: 2px 2px 4px 0.3px rgba(255, 102, 255, 0.3);

}
