/*h3	{
	color: blue;
}*/

a {
	text-decoration: none;
	transition: 0.5s;
}

a:visited {
	color: pink;
}

a:hover {
	color: orange;
}

li:first-child > a {
	color: red;
}

li:nth-of-type(2) > a {
	color: green;
}

li:last-child > a {
	color: orange;
}

a:link {
	font-size: 100px;
}

a:visited {
	color: pink;
}

a:hover {
	color: orange;
}