*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	background-color: red;
	width: 500px;
	height: 200px;
	font-family: Arial, sans-serif;
}

a {
	background-color: yellow;
}

h1 {
	background-color: purple;
}

.red {
	color: red;
	size: 50px;
}

.btn {
	margin: 15px;
	border: none;
	border-radius: 7px;
	background-color: pink;
	color: bluegrey;
	padding: 8px 15px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

.btn:hover {
	padding: 50px;
	color: blue;
}