* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

div{
	padding: 20px;
}

.grandparent{
	background-color: skyblue;
}

.parent{
	background-color: pink;
}

p+div{
	padding-left: 8px;
}

p {
	/*margin-left: 15px;*/
	padding-left: 15px;
}

.btn-submit {
	margin-left: 20px;
}

strong {
	background: yellow;
	position: fixed;
	/*right: 100px;
	top: 50px;*/
}

.grandparent, .grandparent-2{
	height: 100vh;
	background-color: skyblue;
}

.parent2 {
	width: 50%;
	height: 50vh;
	background-color: pink;
	/*box-sizing: border-box;*/
	padding: 0 30px;
}

.lorem {
	margin: 0 30px;
	padding: 03 30px;
}
