*{
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

.center{
    text-align: center;
}

.red-text{
    color: red;
}

h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    display: inline-block;
}

.container1{
    width: 80%;
    margin: 0 10%;
    margin-top: 30px;
    background: pink;
}

h3, p{
    /*padding: 50px;*/
    margin: 50px;
}

.btn{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px 13px;
    margin-bottom: 15px;
    color: white;
 
}


ul {
    background-color: yellow;
    margin: 10%;
    text-align: center;
    padding: 50px;
    list-style: none;
}

.container2{
    background-color: pink;
    margin: 0 30%;
    padding: 50px 0;
    text-align: center;
}

body{
    text-align: center;
}

a {
    width: 20%;
    height: 60%;
}