*{
	margin:0;
	padding:0;
}

.z {
	width:400px;
	height:400px;
	position: relative;
}

.blue {
	background-color: blue;
	/*z-index:1;*/
}

.yellow {
	background-color: yellow;
	top: -300px;
	right: 30px;/
	/*z-index:-3*/

	
}

.red {
	background-color: red;
	top: -600px;
	left: 200px;	
	/*z-index: 1;*/
	opacity: 0.5;

}